.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pre_con {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: scroll;
  padding-bottom: 16px;
  position: relative;
}

.pre-card {
  align-items: center;
  background-color: white;
  border: 1px solid #868992;
  border-radius: 16px;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 13px;
  width: 170px;
}

.container-btn-start {
  background-color: #868992;
  display: flex;
  justify-content: center;
}

.btn-start {
  align-items: center;
  bottom: 0;
  position: fixed;
}

ul {
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-left: 2px;
}

li {
  text-align: -webkit-match-parent;
}

footer {
  align-items: center;
  background-color: #c4c4c4;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 582px;
  width: 360px;
}

button img {
  width: 30px;
}

h1 {
  font-size: 30px;
}

button {
  background-color: rgba(0, 221, 85, 0);
  border: 0;
  margin: 10px;
}

.container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 360px;
}

.container-items img {
  width: 150px;
}

.header-container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.container-header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-header button {
  border: 1px solid;
  border-radius: 50px;
  font-size: 10px;
  margin: 4px;
  padding: 4px;
}

.container-header button:hover {
  background-color: #c4c4c4;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
